$color-black:  rgb(32, 32, 39);
$color-white: rgb(255, 255, 255);

html {
    scroll-behavior: smooth;
}

.top {
    position: relative;
    background-image: url(img/background_top.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    position: relative;
    overflow: hidden;

    &__title {
        color: $color-black;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        padding-top: 196px;
        padding-bottom: 24px;
    }

    &__description {
        color: $color-black;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        padding-bottom: 48px;
    }

}
.dedicated {
    font-weight: bold;
}

.drive-btn {
    width: 247px;
    height: 66px;
    box-sizing: border-box;
    border-radius: 60px;
    background: $color-black;
    color: $color-white;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    font-family: inherit;
    margin-bottom: 154px;
}
.drive-btn-mobile {
    width: 247px;
    height: 66px;
    box-sizing: border-box;
    border-radius: 60px;
    background: $color-black;
    color: $color-white;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    font-family: inherit;
    margin-bottom: 154px;
    display:none;
}
   

.animation {
    bottom: 0;
    height: 90px;
    left: -1%;
    transition: all 1s ease-in-out;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #BCEC30;
 

}

  

.animation-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 51px;
    width: 3122px;
    height: 36px;
    flex-direction: row;
    align-items: center;

    &__game {
       color: $color-black;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 1.1px;
        text-align:  left;
        text-transform: uppercase;
    }
}

.about-box {
    background-image: url(img/background_about.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
} 
    
.about-description__title {
    color: $color-white;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    padding-top: 94px;
    margin-bottom: 26px;
}

.about-description__text {
    color: $color-white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-bottom: 72px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    gap: 32px;
    box-sizing: border-box;
    max-width: 1201px;
    z-index: 1;
    
}
.card-box {
    display: flex;
    gap: 32px;
    flex-direction: column;

    &__link {
        text-decoration: none;
        z-index: 1;
    }
}

.card {
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
    background: $color-white;
    max-width: 378px;
    align-items: start;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.08);
}

.description-box {
    max-width: 378px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 32px 36px 32px;
}

.description-card {
    max-width: 314px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 0px;

    &__title {
        color: $color-black;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        text-align: left;
    }
}

.number-box {
    width: 108px;
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px 10px 16px;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    &__text {
        color: $color-black;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        text-align: left;
    }
}

.mini-games {
    background-image: url(img/background_games.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    box-sizing: border-box;
    position: relative;
    &__title {
        color: $color-white;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        padding-top: 46px;
        margin-bottom: 72px;
    }
}

.box-game {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 143px;
}

.card-game {
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: $color-white;
    display: flex;
    max-width: max-content;
    max-height: max-content;
    max-width: 1200px;    
}

.card-game:hover {
    transform: scale(1.04);
}

.card-game_forward {
    flex-wrap: wrap;
}

.card-game_revers {
    flex-wrap: wrap-reverse;
}

.left-box {
    width: 600px;
    padding: 48px;
    box-sizing: border-box;

    &__title {
        color: $color-black;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        text-align: left;
    }
    &__text {
        color: $color-black;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        margin-top: 24px;
        margin-bottom: 36px;
    } 
}

.right-box {
    max-width: 600px;
    &__img {
        width: 100%;
    }
}

.btn-play {
    width: 247px;
    height: 66px;
    border-radius: 60px;
    background: $color-black;
    color: $color-white;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    font-family: inherit;
}

.footer {
    background: rgb(189, 237, 53);
    &__title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        text-align: center;
        padding-top: 61px;
        padding-bottom: 60px;
    }
}

.btn {
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    background: $color-white;
}