* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  position: relative;
  background-image: url(img/background_top.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  position: relative;
  overflow: hidden;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 196px;
  padding-bottom: 24px;
}
.top__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-bottom: 48px;
}

.dedicated {
  font-weight: bold;
}

.drive-btn {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  font-family: inherit;
  margin-bottom: 154px;
}

.animation {
  position: absolute;
  bottom: 0;
  height: 90px;
  left: -1%;
}

.animation-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 51px;
  width: 3122px;
  height: 36px;
  flex-direction: row;
  align-items: center;
}
.animation-box__game {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.1px;
  text-align: left;
  text-transform: uppercase;
}

.about-box {
  background-image: url(img/background_about.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.about-description__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 94px;
  margin-bottom: 26px;
}

.about-description__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 72px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
  gap: 32px;
  box-sizing: border-box;
  max-width: 1201px;
  z-index: 1;
}

.card-box {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.card-box__link {
  text-decoration: none;
  z-index: 1;
}

.card {
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  max-width: 378px;
  align-items: start;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.08);
}

.description-box {
  max-width: 378px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 32px 36px 32px;
}

.description-card {
  max-width: 314px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
}
.description-card__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}

.number-box {
  width: 108px;
  height: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.number-box__text {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
}

.mini-games {
  background-image: url(img/background_games.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 46px;
  margin-bottom: 72px;
}

.box-game {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 143px;
}

.card-game {
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  max-width: 1200px;
}

.card-game_forward {
  flex-wrap: wrap;
}

.card-game_revers {
  flex-wrap: wrap-reverse;
}

.left-box {
  width: 600px;
  padding: 48px;
  box-sizing: border-box;
}
.left-box__title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.left-box__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 36px;
}

.right-box {
  max-width: 600px;
}
.right-box__img {
  width: 100%;
}

.btn-play {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  font-family: inherit;
}

.footer {
  background: rgb(189, 237, 53);
}
.footer__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 60px;
}

.btn {
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  background: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .about-box {
    display: none;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/background-top-mobile.png);
  }
  .top__title {
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__description {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .drive-btn {
    width: 285px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  .animation {
    height: 52px;
  }
  .box-game {
    align-items: center;
  }
  .card-game {
    width: 343px;
  }
  .left-box {
    padding: 29px 29px 36px 26px;
  }
  .left-box__title {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
  }
  .left-box__text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .btn-play {
    width: 285px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  .mini-games__title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 16px;
  }
  .footer {
    height: 100px;
  }
  .footer__title {
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .center {
    padding-left: calc(50% - 284px);
    padding-right: calc(50% - 284px);
  }
  .about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .box-game {
    max-width: 600px;
  }
}/*# sourceMappingURL=style.css.map */