* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.top {
  background-color: rgb(225, 255, 143);
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.top__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 196px;
  padding-left: 120px;
  padding-bottom: 24px;
}
.top__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-left: 120px;
  padding-bottom: 48px;
}

.dedicated {
  font-weight: bold;
}

.top__star-1 {
  position: absolute;
  top: -334px;
  right: -488px;
}

.top__star-2 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.top__star-3 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.top__star-4 {
  position: absolute;
  bottom: 149px;
  left: 1013px;
}

.top__star-5 {
  position: absolute;
  bottom: 225px;
  left: 948px;
}

.drive-btn {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  font-family: inherit;
  margin-bottom: 154px;
  margin-left: 119px;
}

.animation {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 27px 49px 27px 19px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  overflow: hidden;
}

.animation-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 51px;
  width: 3122px;
  height: 36px;
  flex-direction: row;
  align-items: center;
}
.animation-box__game {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.1px;
  text-align: left;
  text-transform: uppercase;
}

.about-box {
  width: 1440px;
  background-color: rgb(32, 32, 39);
  position: relative;
  overflow: hidden;
}
.about-box__star-1 {
  position: absolute;
  top: 113px;
  right: -109px;
}
.about-box__star-2 {
  position: absolute;
  top: 827px;
  left: 42px;
}
.about-box__star-3 {
  position: absolute;
  top: 773px;
  left: 25px;
}

.about-games {
  width: 1201px;
}

.about-description__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 94px;
  margin-bottom: 26px;
  margin-left: 119px;
}
.about-description__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-left: 119px;
  margin-bottom: 72px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 119px;
  margin-bottom: 50px;
  gap: 32px;
  box-sizing: border-box;
  width: 1201px;
  z-index: 1;
}

.card-box {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.card-box__link {
  text-decoration: none;
  z-index: 1;
}

.card {
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  width: 378px;
  align-items: start;
}

.card:hover {
  transform: scale(1.08);
}

.description-box {
  width: 378px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 32px 36px 32px;
}

.description-card {
  width: 314px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
}
.description-card__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
}

.number-box {
  width: 108px;
  height: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.number-box__text {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
}

.mini-games {
  width: 1440px;
  background: rgb(32, 32, 39);
  padding-left: 119px;
  box-sizing: border-box;
  position: relative;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 46px;
  margin-bottom: 72px;
}
.mini-games__star-1 {
  position: absolute;
  top: 130px;
  right: 48px;
}
.mini-games__star-2 {
  position: absolute;
  bottom: 67px;
  right: 52px;
}
.mini-games__star-3 {
  position: absolute;
  top: 96px;
  right: 126px;
}
.mini-games__star-4 {
  position: absolute;
  bottom: 48px;
  right: 154px;
}

.box-game {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 143px;
}

.card-game {
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
}

.left-box {
  width: 600px;
  padding: 48px;
}
.left-box__title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.left-box__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 36px;
}

.btn-play {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  font-family: inherit;
}

.footer {
  width: 1441px;
  background: rgb(189, 237, 53);
}
.footer__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 60px;
}

.btn {
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  background: rgb(255, 255, 255);
}/*# sourceMappingURL=style.css.map */